body {
    display: grid;
}

header {
    background-color: rgb(8, 187, 169);
    height: 100%;
}

main {
    background-image: url(../images/emeraldbay.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
    width: 98vw;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: 
      "calendar . weather"
      ". greeting .
      "ToDo . calc-contain";
}

h1 {
    font-family: Cambria;
    text-align: center;
    color: rgb(20, 16, 240);
    
}

h2 {
    font-family: Cambria;
    text-align: center;
    color: cyan;
        
}

#calendar {
    grid-column: 1/2;
    grid-row: 1/2 
    
}

#weather {
    grid-column: 3/4;
    grid-row: 1/2;  

}

#greeting {
    grid-column: 2/3;
    grid-row: 2/3;
    
}

#ToDo {
    grid-column: 1/2;
    grid-row: 3/4;
    color: palegreen;
    
}

#calc-contain {
    display: grid;
    background-color: darkmagenta;
    grid-column: 3/4;
    grid-row: 3/4;
    justify-content: center;
    align-content: center;
                
}

#calc-form {
    display:flexbox;
    border: 3px solid rgb(211, 156, 156);
}

#display {
    width: 97%;
}

#onbutton {
    width: 4.78em;
}
input {
    width: 30px;
    color: darkcyan;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 45; 
        
}
footer {
    display: grid;
    background-color: rgb(235, 235, 229);

}

p {
    font-family: Helvetica, sans-serif;
    font-size: 40;
    text-align: center;
    color: lightcoral;  

}